/*----> GENERAL <----*/
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    background-image: url(img/paven.png);
    background-size: cover;
  }
  
  a {
    color: #529125;
  }
  a:hover {
    color: #285616;
  }
  
  /*----> Cabecera <----*/
  header {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    text-align: center;
  }
  #logotipo img {
    width: 80px;
  }
  header h1 {
    font-size: 1.8rem;
    color: #70b231;
    text-shadow: 0px 2px 4px #333333;
  }
  
  /*----> Menú <----*/
  nav {
    background-color: #333333;
    display: flex;
    justify-content: center;
    height: 50px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  nav ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  nav ul li a {
    color: white;
    display: block;
    padding: 10px;
  }
  nav ul li a:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px grey inset;
  }
  
  /*----> Contenido <----*/
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  #aside {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  #sections {
    width: 90%;
  }
  #sections .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  #sections section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px #c9c9c9;
  }
  
  /*----> Pie de Página <----*/
  footer {
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /*----> Media Queries <----*/
  @media (min-width: 768px) {
    #content {
      flex-direction: row;
      justify-content: space-between;
    }
    #aside {
      width: 25%;
      margin-right: 20px;
    }
    #sections {
      width: 70%;
    }
  }
  
  @media (min-width: 1024px) {
    #content {
      max-width: 1200px;
      margin: auto;
    }
    nav ul {
      width: 100%;
      justify-content: center;
    }
  }
  